@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(39, 38, 38);
    color: rgb(255, 253, 253);
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

h1{
    font-size: 3em;
}

.formContainer, .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fname{
    width: 300px;
    margin: 1em;
}
